@charset "UTF-8";
body{
	color:black;
}
/*定义列表项前不加任何符号标记*/
ul{
	list-style-type:none;
}
/*定义头部背景颜色和文本对齐方式*/
.header {
	background-color:wheat;
	text-align:center;
}
.header a{
	
	display:block;
	
	text-decoration:none;
	color:black;
}
/*定义导航栏背景颜色*/
.nav {	
	background-color:firebrick;
	clear:both;
	overflow:auto;
}
/*定义导航栏中的超链接的一些特性*/
.nav a{
	float:left;
	display:block;
	padding:14px;
	text-decoration:none;
	color:black;
}
/*定义导航栏中的超链接在鼠标放上去时的表现特征*/
.nav a:hover{
	background-color:steelblue;
}
/*定义内容部分的背景颜色和文本对齐方式*/
.content{
	float:left;
	background-color:white;
	text-align:left;
}
/*定义内容部分中主要内容模块的宽度*/
.content.main{
	width:80%;
	background-color:#e7e8e7;
	font-size:18px;
}
/*定义内容部分中左侧内容模块的宽度以及背景颜色*/
.content.left{
	clear:left;
	width:20%;
	background-color:wheat;
}
/*定义内容中左侧模块的超链接的一些特性*/
.content.left a{
	clear:left;
	float:left;
	display:block;
	padding:15px;
	text-decoration:none;
	color:black;
}
/*定义内容中左侧模块的超链接在鼠标放上去时的表现特征*/
.content.left a:hover{
	background-color:steelblue;
}

/*定义底部的背景颜色和文本对齐方式*/
.footer{	
	background-color:firebrick;
	text-align:center;
	clear:both;
}